h1 {
    color: pink;
}

img {
    position: relative;
    width:848px; 
    height:480px;
}

canvas {
    background-color: transparent;
    position: absolute;
}

form {
    width: 90%;
}
.body-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    height: 80vh;
}

.videoframe {
    display: flex;
    align-self: center;
    /* flex: 4; */
}

.optionsframe {
    display: flex;
    align-self: center;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    width: 848px;
    height: 480px;
}

.content-buttons {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex: 1;
    width: 80%;
    height: auto;
    background-color: green;
}

.filepath {
    background-color: red;
    flex: 1;
}

.form {
    display: flex;
    justify-content: center;
    flex: 5;
    align-self: center;
}


.home-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}

.home-content {
    width: 60%;
    height: 80vh;
    display: block;
}

.home-buttons {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    align-items: flex-end;
    height: 50%;
}

.home-filepath {
    display: none;
    justify-content: space-between;
    /* background-color: blue; */
}

.filepath_value {
    width: 60%;
}

.home-confirmbtn {
    margin-right: 0;
}

/* HOME */
.home-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.option_btn,
.option_btn::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.option_btn {
    width: 45%;
    height: 180px;
    border-radius: 3px;
    background-color: #CCE6EE;
    border: 1px solid rgb(128, 195, 216);
    font-weight: bold;
    position: relative;
    color: rgb(63, 136, 158);
}

.option_btn:hover {
    background-color: rgb(133, 178, 192);
    color: black;
}

.option_btn::after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
}

.option_btn:hover:after {
    height: 100%;
}

.btn-transparent {
    border: none;
    background-color: transparent;
}

