h1 {
    color: pink;
}

img {
    position: relative;
    width:848px; 
    height:480px;
}

canvas {
    background-color: transparent;
    position: relative;
}
.body-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    height: 80vh;
}

.videoframe {
    display: flex;
    align-self: center;
    /* flex: 4; */
}

.form {
    display: flex;
    justify-content: center;
    flex: 2;
    align-self: center;
}

canvas {
    position: absolute;
}

form {
    width: 90%;
}


