h1 {
    color: pink;
}

img {
    width: 50%;
}

.body-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    height: 80vh;
}

.videoframe {
    display: flex;
    align-self: center;
    flex: 4;
}

.video {
    width: 100%;
}

.form {
    display: flex;
    justify-content: center;
    flex: 2;
    align-self: center;
}

form {
    width: 90%;
}


